<!doctype html>

<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>TOD: Title</title>
	<meta name="TODO" content="TODO">
	<meta name="TODO" content="TODO">
	<link rel="stylesheet" href="/css/style.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="container">
<h1 class="showtime">Timer Module</h1>
</div>
<div class="notifications--main">
	<div class="pull-right">
		<div class="nav--icon-close glyphicon glyphicon-remove"></div>
	</div>
	<div class="stopwatch--main">
		<div class="stopwatch--time-display"></div>
		<button class="stopwatch--start btn">
			<span class="stopwatch--time-limit" data-limit="0.15">0.5</span>
			<span class="stopwatch--time-limit" data-limit="1">1</span>
			<span class="stopwatch--time-limit" data-limit="3">3</span>
			<span class="stopwatch--time-limit" data-limit="4">4</span>
			<span class="stopwatch--time-limit" data-limit="5">5</span>
			<span class="stopwatch--time-limit" data-limit="6">6</span>
		</button>
		<button class="stopwatch--stop btn"><span class="glyphicon glyphicon-time"></span> Stop</button>
		<button class="stopwatch--reset btn"><span class="glyphicon glyphicon-time"></span> Reset</button>
	</div>
	<div class="last-week">
		<h2><em>Previous Workout</em></h2>
		<hr>
		<article>
			<h3><em>Bench</em></h3>
			<ul>
				<li>195lbs @ 8 reps</li>
			</ul>
		</article>
		<h3><em>Dips</em></h3>
	</div>
</div>

<script data-main="/js/app" src="/js/vendor/require.js"></script>
<!-- <script src="/js/app.js"></script> -->
</body>
</html>