<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<meta name="TODO" content="TODO">
	<meta name="TODO" content="TODO">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="node_modules/mocha/mocha.css">
</head>
<body>

<script src="node_modules/mocha/mocha.js"></script>
<script src="node_modules/chai/chai.js"></script>
<script>mocha.setup('bdd')</script>
<!-- <script data-main="/scripts/testrunner" src="/js/vendor/require.js"></script> -->

<div class="container">
	<div class="row">
		<h1>{{page.title}}</h1>
		<div id="mocha"></div>
	</div>
</div>

{{#each scripts}}
	<script src="{{source}}"></script>
	<script src="{{test}}"></script>
{{/each}}


<script>
	mocha.run();
</script>



</body>
</html>