body {
	color : white;
	font-size:3em;
}

.showtime {
	color : red;
}

.logo-main{
	h1 {
		font-size:20px;
	}
	img{
		margin: 10px;
	}
}

nav {
	padding: 2em;
	border:5px solid black;
	min-width: 300px;
	height: 100vh;
}

.side {
	color: #fff;
	position: absolute;
	left : -300px;
	z-index: 1000;
	background-color: $brand-primary;

}

.notifications--main{
	background-color: red;
	height: 100%;
	display: block;
	padding: 1em;
	padding-right:1.75em;
	position: absolute;
	right:-439px;
	top:0;

}
.stopwatch {

	//TODO: cleanup
	&--main {
		opacity: .9;
		display: inline-block;

	}

	&--time-display{
		font-size:1.75em;
		text-align: center;
		font-style:italic;
		color: white;
	}
	&--start {
		display: block;
		background:none;
		color:white;
		width: 100%;
		padding: .25em;
		margin-top: .5em;
		border-top: 1px solid white;
		border-bottom: 1px solid white;

		&:hover{
			cursor : initial;
			color:black;

		}
		&:active,
		&:focus{
			background-image: none !important;
			outline:none !important;
			color:white;
		}
	}
	&--time-limit{
		display: inline-block;
		padding: 10px 20px;
		font-weight: bold;
		&:hover{
			cursor: pointer;
			color:white;
		}
	}
	&--stop,
	&--reset{
		width: 48%;
		background-color: white;
		color: black;
		&:hover{
			background-color: black;
			color: white;
			outline:none !important;
		}
		&:focus{
			outline:none !important;
		}
	}
}
.btn:active{
	background-image: none !important;
	box-shadow: none;
}